* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(245, 245, 245);
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

h2 {
    margin-bottom: 50px;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;
}

.name {
    text-align: center;
}

.main-nav a {
    font-size: 1.2em;
    font-weight: bold;
}

.main-nav li {
    background-color: white;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.profile {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.portfolio {
    background-color:white;
    text-align: center;
}

.image {
    width: 100%;
    margin: 15px auto;
}

.project {
    margin-left: 35px;
    margin-right: 35px; 
}

.contact {
    text-align: center;
}

.main-footer {
    border-top: 2px solid lightgrey;
    font-size: 0.8em;
}

.footer-name {
    float: left;
}

.footer-top {
    float: right;
}